server:
  port: 8084
spring:
  config:
    import: "configserver:"
  cloud:
    config:
      uri: http://localhost:8888

  application:
    name: trace-service
  datasource:
    url: jdbc:postgresql://localhost:5432/invoicesdb
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: trace-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
