server:
  port: 8081
spring:
  application:
    name: invoice-service
  datasource:
    url: jdbc:postgresql://localhost:5432/invoicesdb
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
springdoc:
  swagger-ui:
    path: /swagger-ui.html
