server:
  port: 8083
spring:
  config:
    import: "configserver:"
  cloud:
    config:
      uri: http://localhost:8888

  application:
    name: document-service
  datasource:
    url: jdbc:postgresql://localhost:5432/invoicesdb
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
