@page {
    size: A4;
    margin: 25pt;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 8pt;
    color: #333;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
}

/* Header Section: Logo | Company | QR - NO BORDERS */
.header-section {
    display: table;
    width: 100%;
    margin-bottom: 15pt;
}

.logo-space {
    display: table-cell;
    width: 25%;
    vertical-align: top;
    height: 45pt;
}

.company-info {
    display: table-cell;
    width: 45%;
    text-align: center;
    vertical-align: top;
}

.company-name {
    font-size: 12pt;
    font-weight: 700;
    display: block;
    margin-bottom: 2pt;
}

.company-nif {
    font-size: 9pt;
    font-weight: 700;
    display: block;
    margin-bottom: 2pt;
}

.company-address {
    font-size: 7pt;
    color: #666;
    display: block;
}

.qr-space {
    display: table-cell;
    width: 25%;
    vertical-align: top;
    text-align: right;
    height: 45pt;
}

/* Meta Section - Simple inline, no heavy borders */
.meta-section {
    margin-bottom: 10pt;
}

.meta-item {
    display: inline-block;
    margin-right: 20pt;
}

.meta-label {
    font-size: 7pt;
    color: #666;
    display: block;
}

.meta-value {
    font-size: 9pt;
    font-weight: 700;
    display: block;
}

/* Client Section - Simple border */
.client-section {
    margin-bottom: 10pt;
    border: 1pt solid #999;
}

.client-title {
    font-size: 8pt;
    font-weight: 700;
    background-color: #f5f5f5;
    padding: 3pt;
}

.client-content {
    padding: 5pt;
}

.client-name {
    font-size: 9pt;
    font-weight: 700;
    display: block;
}

.client-text {
    font-size: 7pt;
    color: #666;
    display: block;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10pt;
}

thead tr {
    background-color: #f5f5f5;
}

th {
    text-align: center;
    font-size: 7pt;
    font-weight: 700;
    border: 1pt solid #999;
    padding: 3pt;
}

td {
    font-size: 7pt;
    padding: 2pt;
    border: 1pt solid #999;
    border-top: none;
    vertical-align: top;
}

/* Standard Invoice Columns */
.col-desc {
    width: 42%;
    text-align: left;
    padding-left: 3pt;
}

.col-uds {
    width: 8%;
    text-align: center;
}

.col-dto {
    width: 8%;
    text-align: center;
}

.col-price {
    width: 14%;
    text-align: right;
}

.col-iva {
    width: 8%;
    text-align: center;
}

.col-importe {
    width: 20%;
    text-align: right;
    padding-right: 3pt;
}

/* Transport Invoice Columns */
.col-date {
    width: 10%;
    text-align: center;
}

.col-plate {
    width: 10%;
    text-align: center;
}

.col-desc-transport {
    width: 32%;
    text-align: left;
    padding-left: 3pt;
}

.col-zone {
    width: 10%;
    text-align: center;
}

.col-price-tr {
    width: 14%;
    text-align: right;
}

.col-gas {
    width: 8%;
    text-align: center;
}

.col-importe-tr {
    width: 16%;
    text-align: right;
    padding-right: 3pt;
}

/* Footer Section */
.footer-section {
    display: table;
    width: 100%;
    margin-top: 10pt;
}

.observaciones {
    display: table-cell;
    width: 55%;
    vertical-align: top;
}

.observaciones-label {
    font-size: 7pt;
    font-weight: 700;
    color: #666;
    display: block;
    margin-bottom: 2pt;
}

.observaciones-text {
    font-size: 7pt;
    display: block;
}

.totals-box {
    display: table-cell;
    width: 40%;
    vertical-align: top;
}

.total-row {
    display: table;
    width: 100%;
    padding: 2pt 0;
}

.total-label {
    display: table-cell;
    font-size: 10pt;
    width: 60%;
}

.total-value {
    display: table-cell;
    font-size: 10pt;
    text-align: right;
    width: 40%;
}

.grand-total {
    display: table;
    width: 100%;
    padding-top: 4pt;
    margin-top: 4pt;
    border-top: 1pt solid #999;
}

.grand-total-label {
    display: table-cell;
    font-size: 12pt;
    font-weight: 700;
    color: #c00000;
    width: 60%;
}

.grand-total-value {
    display: table-cell;
    font-size: 12pt;
    font-weight: 700;
    color: #c00000;
    text-align: right;
    width: 40%;
}

/* VeriFactu Footer - Min 10pt per AEAT */
.verifactu-footer {
    margin-top: 15pt;
    padding-top: 5pt;
    border-top: 1pt solid #ddd;
    text-align: center;
    font-size: 10pt;
    color: #333;
}